[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = ">=0.15"
asyncpgsa = "*"

[dev-packages]
pytest = "*"
pytest-aioworkers = "*"
pytest-flake8 = "*"
flake8-isort = "*"
pyyaml = "*"
mypy = "*"

[requires]
python_version = "3.7"
